#main-heading3 {
    text-shadow: 2px 3px 0 rgb(255, 255, 255); 
    color:rgb(1, 61, 74);
    font-size: 3em;
    text-align: center;
    
}
#login-form {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#musik2 {
    text-align: center;

    position: fixed;
    bottom: 5px;
    width: 100%;
}

#logo {
    display: block;
    margin: 20px auto;
    max-width: 35%;
    height: auto;
}

#makeP{
    display: flex;
    height: 20vh;
    justify-content: space-around;
    flex-direction: row;
}

#submitbutton {
    font-size: 30px;
    background-color: #206022; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

#submitbutton:hover {
    background-color: #63f467; 
}

#labels{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 4px; 
    cursor: pointer; 
}