#main-heading3 {
    text-shadow: 2px 3px 0 rgb(255, 255, 255); 
    color:rgb(1, 61, 74);
    font-size: 3em;
    text-align: center;
    
}
#login-form {
    margin: 0 auto;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#musik2 {
    text-align: center;

    position: fixed;
    bottom: 5px;
    width: 100%;
}

#logo {
    display: block;
    margin: 20px auto;
    max-width: 35%;
    height: auto;
}

#makeP{
    display: flex;
    height: 20vh;
    justify-content: space-around;
    flex-direction: row;
}

#submitbutton {
    font-size: 30px;
    background-color: #206022; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

#submitbutton:hover {
    background-color: #63f467; 
}

#labels{
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 4px; 
    cursor: pointer; 
}

#makeMonster{
    display: flex;
    height: 20vh;
    justify-content: space-around;
    flex-direction: row;
}

#createbutton {
    align-self: flex-end;
    font-size: 30px;
    background-color: #206022; 
    color: white; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 4px; 
    cursor: pointer; 
}

#createbutton:hover {
    background-color: #63f467; 
}





/* All items below are for draw.html 
-> SOURCE: https://www.geeksforgeeks.org/javascript/build-a-drawing-app-using-javascript/ */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    background-color: #e3dede;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    display: flex;              
    flex-direction: row;        
    align-items: flex-start;    
    gap: 20px;                  
    justify-content: center;    
    margin: 20px 0;     
}

.tools-board {
    width: 210px;
    height: 590px;
    flex-shrink: 0;
}

.tools-board .row {
    margin-bottom: 20px;
}

.row .options {
    list-style: none;
    margin: 10px 0 0 5px;
}

.row .options .option {
    display: flex;
    cursor: pointer;
    align-items: center;
    margin-bottom: 10px;
}

.option:is(:hover, .active) img {
    filter: grayscale(20%);
}

.option :where(span, label) {
    color: black;
    cursor: pointer;
    padding-left: 10px;
}

.option:is(:hover, .active) :where(span, label) {
    color: #f4130b;
}

.option #fill-color {
    height: 14px;
    cursor: pointer;
    width: 14px;
}

#fill-color:checked~label {
    color: #e93e2b;
}

.option #size-slider {
    width: 100%;
    height: 5px;
    margin-top: 10px;
}

.colors .options {
    display: flex;
    justify-content: space-between;
}

.colors .option {
    height: 20px;
    width: 20px;
    border-radius: 30%;
    margin-top: 3px;
    position: relative;
}

.colors .option:nth-child(1) {
    background-color: #fff;
    border: 1px solid #bfbfbf;
}

.colors .option:nth-child(2) {
    background-color: black;
}

.colors .option:nth-child(3) {
    background-color: #ef4415;
}

.colors .option:nth-child(4) {
    background-color: green;
}

.colors .option:nth-child(5) {
    background-color: #c1f40a;
}

.colors .option.selected::before {
    position: absolute;
    content: "";
    height: 12px;
    top: 50%;
    left: 50%;
    width: 12px;
    background: inherit;
    border-radius: inherit;
    border: 2px solid #fff;
    transform: translate(-50%, -50%);
}

.colors .option:first-child.selected::before {
    border-color: #ccc;
}

.option #color-picker {
    opacity: 0;
    cursor: pointer;
}

.buttons button {
    width: 80%;
    color: #fff;
    border: none;
    outline: none;
    font-size: 0.9rem;
    padding: 3px 0;
    margin-bottom: 13px;
    background: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons .clear-canvas {
    color: black;
    border: 1px solid #9fc39f;
    transition: all 0.2s ease;
    border: 2px solid black;
    font-size: 13px;
}

.clear-canvas:hover {
    color: #fff;
    background: #6c757d;
}

.buttons .save-img {
    background: white;
    color: black;
    border: 1px solid #6c757d;
}

.drawing-board {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drawing-board canvas {
    width: 800px;         /* or 100% of canvas container */
    height: 590px;
    border-radius: 10px;
    border: 2px solid #000;
    background-color: #fff; /* visible canvas */
}

